@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto"),
    local("Roboto-Regular"),
    url(../fonts/roboto.woff2) format("woff2"),
    url(../fonts/roboto.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
    local("Roboto Medium"),
    local("Roboto-Medium"),
    url(../fonts/robotomedium.woff2) format("woff2"),
    url(../fonts/robotomedium.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:
    local("Roboto Bold"),
    local("Roboto-Bold"),
    url(../fonts/robotobold.woff2) format("woff2"),
    url(../fonts/robotobold.woff) format("woff");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
.btn-trigger {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.hide-outline button:focus {
  outline: none;
}

.btn {
  display: inline-block;
  padding: 16px 0;

  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;

  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  min-height: 545px;
  margin-bottom: 80px;
  padding-top: 49px;

  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  align-items: flex-start;
}

.main-navigation a {
    padding: 6px 0;

    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.main-navigation a.onPage {
  border-bottom: 2px solid #f7898b;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation .main-header-logo {
  margin-right: 202px;
  padding: 0;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 438px;
  margin: 0;
  margin-top: 27px;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 120px;
  margin: 0;
  margin-top: 27px;
  padding: 0;

  list-style: none;
}

.user-navigation a {
  position: relative;

  padding-left: 41px;
}

.user-navigation a::before {
  position: absolute;
  left: 0;
  top: 7px;

  width: 15px;
  height: 15px;

  background: url("../img/cart-icon.svg") 0 0 no-repeat;

  content: "";
}

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 556px;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  width: 88px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-controls label {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  width: 18px;
  height: 18px;

  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-1:focus ~ .slider-controls label[for="slider-btn-1"],
.slider-2:focus ~ .slider-controls label[for="slider-btn-2"],
.slider-3:focus ~ .slider-controls label[for="slider-btn-3"] {
  box-shadow: 0 0 0 3px #2f7cc0;
}

.hide-outline .slider-1:focus ~ .slider-controls label[for="slider-btn-1"],
.hide-outline .slider-2:focus ~ .slider-controls label[for="slider-btn-2"],
.hide-outline .slider-3:focus ~ .slider-controls label[for="slider-btn-3"] {
  box-shadow: none;
}

.slider-1:checked ~ .slider-controls label[for="slider-btn-1"]::after,
.slider-2:checked ~ .slider-controls label[for="slider-btn-2"]::after,
.slider-3:checked ~ .slider-controls label[for="slider-btn-3"]::after {
  position: absolute;
  top: 5px;
  left: 5px;

  width: 8px;
  height: 8px;

  border: 2px solid #d8d8d8;
  border-radius: 50%;

  content: "";
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  position: relative;

  display: none;
  width: 515px;
  min-height: 421px;
  padding-top: 69px;
}

.slider-1:checked ~ .slider-list .slider-item:first-child,
.slider-2:checked ~ .slider-list .slider-item:nth-child(2),
.slider-3:checked ~ .slider-list .slider-item:last-child {
  display: block;
}

.slider-item h3 {
  margin: 0;
  margin-bottom: 25px;

  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slider-item p {
  margin: 0;
  margin-bottom: 39px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.slider-item .btn {
  width: 240px;

  background-color: #fb565a;
}

.slider-item .btn:hover,
.slider-item .btn:focus {
  background-color: #e74246;
}

.slider-item .btn:active {
  background-color: #d7373b;
}

.slider-item:first-child::after {
  position: absolute;
  top: 8px;
  right: -614px;

  width: 698px;
  height: 413px;

  background: url("../img/slide-1.png") 0 0 no-repeat;

  content: "";
}

.slider-item:nth-last-child(2)::after {
  position: absolute;
  top: -9px;
  right: -644px;

  width: 663px;
  height: 430px;

  background: url("../img/slide-2.png") 0 0 no-repeat;

  content: "";
}

.slider-item:last-child::after {
  position: absolute;
  top: 9px;
  right: -645px;

  width: 759px;
  height: 411px;

  background: url("../img/slide-3.png") 0 0 no-repeat;

  content: "";
}

.offer-list {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.offer {
  margin-bottom: 156px;
}

.offer-item figure {
  margin: 0;
}

.offer-item img {
  margin-bottom: 23px;
}

.offer-item figcaption {
  width: 240px;
}

.offer-item h3 {
  margin: 0;
  margin-bottom: 14px;

  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.offer-item p {
  margin: 0;
  margin-bottom: 32px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.offer-item .btn {
  width: 160px;
}

.offer-item:first-child .btn {
  background-color: #fb565a;
}

.offer-item:first-child .btn:hover,
.offer-item:first-child .btn:focus {
  background-color: #e74246;
}

.offer-item:first-child .btn:active {
  background-color: #d7373b;
}

.offer-item:nth-child(2) .btn {
  background-color: #00ca74;
}

.offer-item:nth-child(2) .btn:hover,
.offer-item:nth-child(2) .btn:focus {
  background-color: #00bc6c;
}

.offer-item:nth-child(2) .btn:active {
  background-color: #00aa62;
}

.offer-item:last-child .btn {
  background-color: #efc84a;
}

.offer-item:last-child .btn:hover,
.offer-item:last-child .btn:focus {
  background-color: #eab534;
}

.offer-item:last-child .btn:active {
  background-color: #e5a722;
}

.about-us {
  margin-bottom: 109px;
}

.about-us header {
  width: 660px;
  margin-bottom: 40px;
}

.about-us h2 {
  margin: 0;
  margin-bottom: 33px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-us p {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.about-us .inner {
  display: flex;
  justify-content:space-between;
}

.opportunities {
  width: 460px;
}

.opportunities h3 {
  margin: 0;
  margin-bottom: 23px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.opportunities ul {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #284136;
  list-style: none;
}

.opportunities-list li {
  position: relative;
  padding-left: 36px;
}

.opportunities-list li:not(:last-child) {
  margin-bottom: 24px;
}

.opportunities-list li::before {
  position: absolute;
  left: 1px;

  width: 25px;
  height: 2px;
  margin: 11px 0;

  background-color: #fb565a;
  content: "";
}

.advantages {
  position: relative;

  width: 360px;
}

.advantages::before {
  position: absolute;
  top: -245px;

  width: 360px;
  height: 208px;

  background: url("../img/nerds-illustration.png") 0 0 no-repeat;
  content: "";
}

.advantages h3 {
  margin: 0;
  margin-bottom: 59px;
  margin-left: 17px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.advantages td {
  padding-bottom: 29px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 10.06px;
}

.advantages td:not(:last-child) {
  padding-right: 11px;
}

.advantages th {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.partners {
  margin-bottom: 104px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.partners-list li:not(:last-child) {
  position: relative;
}

.partners-list li:not(:last-child)::after {
  position: absolute;
  top: 30px;
  right: -21px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  content: "";
}

.partners-list a {
  position: relative;

  opacity: 0.2;
}

.partners-list a:hover,
.partners-list a:focus {
  opacity: 1;
}

.partners-list a:active {
  opacity: 0.1;
}

.partners a::after {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 260px;
  height: 120px;

  content: "";
}

.contacts .inner {
  position: relative;
}

.contacts .contacts-card {
  position: absolute;
  top: 54px;
  left: 20px;

  width: 319px;
  min-height: 308px;
  padding: 51px 55px 48px 50px;

  background-color: #ffffff;
}

.contacts-card h3 {
  margin: 0;
  margin-bottom: 22px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.contacts-card address,
.phone-number {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts-card address:first-of-type {
  margin-bottom: 17px;
}

.contacts-card address:last-of-type {
  margin-bottom: 37px;
}

.contacts-card .btn {
  width: 219px;
  background-color: #fb565a;
}

.contacts-card .btn:hover,
.contacts-card .btn:focus {
  background-color: #e74246;
}

.contacts-card .btn:active {
  background-color: #d7373b;
}

.contacts img {
  display: block;
  margin: 0 auto;
}
